mat-form-field {
  padding: 3px;
}

.login-form-div {
  display: block;
  width: 100%;
}

.mat-mdc-form-field {
  min-width: 360px;
  display: grid;
}

.login-submit-button {
  float: right;
}

/*button {
  min-width:100px;
  max-width:300px;
  min-height:40px;
  max-height:120px;
} */
