<div class="header">
  <h3 *ngIf="isVisibleUser()">Hi Admin!</h3> <!-- to be replaced by the actual name -->
  <button matButton="filled" [routerLink]="'/home'" class="button button--primary">Home</button>
  <button matButton="filled" (click)="goDashboard()" class="button button--primary" *ngIf="isVisibleUser()">Dashboard</button>
  <button matButton="filled" (click)="goAdminPanel()" class="button button--primary" *ngIf="isVisibleAdmin()">Admin panel</button>
  <button matButton="filled" (click)="logout()" class="button button--primary" *ngIf="isVisibleUser()">Logout</button>
  <button matButton="filled" (click)="goBack()" class="button button--primary">Back</button>
</div>
