<mat-dialog-content>
  <table class="dialog-info-table table">
    <tr>
      <td><span class="dialog-label">Project: </span></td>
      <td>{{ project.title }}</td>
    </tr>
    <tr>
      <td><span class="dialog-label">Participants:</span></td>
    </tr>
  </table>
  <table>
    <ng-container class="participants-list-users" *ngFor="let p of project.participants; let last = last">
      <tr>
        <td><span class="dialog-label">{{ p.role }}</span></td>
        <td>
          <app-data-user-display
            *ngIf="p.user"
            [user]="p.user"
          ></app-data-user-display>
        </td>
      </tr>
      <mat-divider *ngIf="!last"></mat-divider>
    </ng-container>
  </table>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button matButton mat-dialog-close class="button">Close</button>
</mat-dialog-actions>
