<form [formGroup]="form" (ngSubmit)="save()" class="workflow-form form">
  <mat-dialog-content>
  <h3>Create new workflow</h3>
  <div class="workflow-name-wrapper">

    <mat-form-field>
      <mat-label>Workflow name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

  </div>

  <div class="workflow-statuses-wrapper" formArrayName="statuses">
    <div *ngFor="let g of statusesFA.controls; let i = index; trackBy: trackByIndex" [formGroupName]="i" class="workflow-form-statuses">
      <mat-form-field class="existing-status">
        <mat-label>Pick existing status</mat-label>
        <input
          matInput
          [matAutocomplete]="auto"
          formControlName="name" />
        <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption
                          [displayWith]="displayStatus">
          <mat-option *ngFor="let opt of optionsStreams[i] | async" [value]="opt">
            {{ opt.label }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Priority</mat-label>
        <input type="number" matInput formControlName="priority" />
      </mat-form-field>

      <button mat-icon-button color="warn" type="button" (click)="removeStatusRow(i)" [disabled]="statusesFA.length === 1">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
    <div class="workflow-add-button">
      <button mat-stroked-button type="button" (click)="addStatusRow()">Add status</button>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
    Save
  </button>
</mat-dialog-actions>

</form>
