<form [formGroup]="form">
  <table
    mat-table
    [dataSource]="project.tasks"
    formArrayName="tasks"
    class="table">

  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button (click)="addTask($event)"><mat-icon>add</mat-icon></button>
    </th>
    <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">

      <button mat-icon-button *ngIf="!isEditing(project.tasks[i].id)" (click)="removeTask(i, $event)"><mat-icon>delete</mat-icon></button>
      <button mat-icon-button *ngIf="!isEditing(project.tasks[i].id)" (click)="startEdit(project.tasks[i].id, i, $event)"><mat-icon>edit</mat-icon></button>

      <button mat-icon-button *ngIf="isEditing(project.tasks[i].id)" (click)="saveRow(project.tasks[i], i, $event)"><mat-icon>check</mat-icon></button>
      <button mat-icon-button *ngIf="isEditing(project.tasks[i].id)" (click)="cancelEdit(project.tasks[i].id, i, $event)"><mat-icon>close</mat-icon></button>
    </td>
  </ng-container>

  <!-- Name -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
      <ng-container *ngIf="!isEditing(project.tasks[i].id); else editName">
        {{ project.tasks[i].name }}
      </ng-container>
      <ng-template #editName>
        <mat-form-field>
          <input matInput formControlName="name" />
        </mat-form-field>
      </ng-template>
    </td>
  </ng-container>

  <!-- Assignee -->
  <ng-container matColumnDef="assignee">
    <th mat-header-cell *matHeaderCellDef>Assignee</th>
    <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
      <ng-container *ngIf="!isEditing(project.tasks[i].id); else editAssignee">
        {{ project.tasks[i].assignee?.user?.name }} {{ project.tasks[i].assignee?.user?.lastName }}
      </ng-container>
      <ng-template #editAssignee>
        <mat-form-field>
          <mat-select formControlName="assigneeId">
            <mat-option *ngFor="let a of assignees" [value]="a.id">
              {{ a.user?.name }} {{ a.user?.lastName }} ({{a.role}})
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-template>
    </td>
  </ng-container>

  <!-- Status -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
      <ng-container *ngIf="!isEditing(project.tasks[i].id); else editStatus">
        {{ statusLabel(project.tasks[i].status) }}
      </ng-container>
      <ng-template #editStatus>
        <mat-form-field>
          <mat-select formControlName="status">
            <mat-option *ngFor="let s of availableStatuses; trackBy: trackStatusByName"
                        [value]="s.name">
              {{ s.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-template>
    </td>
  </ng-container>

  <!-- Description -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
      <ng-container *ngIf="!isEditing(project.tasks[i].id); else editDesc">
        {{ project.tasks[i].description }}
      </ng-container>
      <ng-template #editDesc>
        <mat-form-field class="w-full">
          <input matInput formControlName="description" />
        </mat-form-field>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay; let i = index" [formGroupName]="i"></tr>
  </table>
</form>
