td {
  max-height: 57px;
  padding: 0px 0px;
}
/*
.input-cell-name {
  width: 290px;
}

.input-cell-assignee {
  width: 290px;
}

.input-cell-status {
  width: 290px;
}

.input-cell-description {
  width: 290px;
}
*/
